*¨{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    --primary:#18db86;
    --secundary:white;
    --secundary-light:rgb(173,173,173);
    --dark1:#222222;
    --dark2:#050505;

}

body {
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    color: var(--secundary);
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.navbar a:hover {
    border-bottom: var(--primary) solid;
}

.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img{
    width: 100%;
    height: 530px;
    opacity: .35;
}

span {
    color: var(--primary);
}

/* circle profile */

.profile div {
    position: absolute;
}
.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.circle-trans {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 100px
}

.circle {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.profile-img {
    top: 134px;
    z-index: 20;
}

.profile-img img {
    width: 212px;
    height: 212px;
    border-radius: 50%;
}

.square-text {
    font-size: 1.8rem;
    color: var(--secundary);
    top: 380px;
    z-index: 11;
}

.square-text-2 {
    font-size: 1.2rem;
    color: var(--secundary);
    top: 418px;
    z-index: 11;
}

.square-text-3 {
    font-size: 1.3rem;
    color: var(--secundary);
    top: 490px;
    z-index: 11;
}

.square-text-3:hover {
    border-bottom: var(--primary) solid;
}

.square-text-3 a {
    color: var(--secundary);
    text-decoration: none;
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 0 10px;
}

.contact-icon img:hover {
    transform: scale(1.2);
}